aiohappyeyeballs==2.6.1
aiohttp==3.12.10
aiosignal==1.3.2
alembic==1.13.3
amqp==5.2.0
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
backports.tarfile==1.2.0
billiard==4.2.1
bitarray==3.4.2
blinker==1.8.2
build==1.2.2.post1
CacheControl==0.14.3
cachetools>=5.5.2,<6.0
celery==5.4.0
certifi==2025.4.26
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.4.1
ckzg==2.1.1
cleo==2.1.0
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.45.0
colorama==0.4.6
crashtest==0.4.1
cryptography==44.0.3
cytoolz==1.0.1
dataclasses==0.6
deprecation==2.1.0
distlib==0.3.9
distro==1.9.0
dj-database-url==3.0.0
Django==5.2
django-appconf==1.1.0
django-cors-headers==4.7.0
django-cloudinary-storage==0.3.0
django-environ==0.12.0
django-filter==24.2
django-imagekit==5.0.0
django-storages==1.14.6
django-telegram-login==0.2.3
django_paystack==1.0.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.4.0
djongo==1.2.31
dnspython==2.7.0
dotenv==0.9.9
drf-yasg==1.21.10
dulwich==0.22.8
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
exceptiongroup==1.3.0
fastjsonschema==2.21.1
filelock==3.20.0
findpython==0.6.3
firebase-admin==6.8.0
Flask==3.0.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
forex-python==1.8
frozenlist==1.6.2
gitlint==0.19.1
gitlint-core==0.19.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc1
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gotrue==2.12.0
greenlet==3.1.0
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
h11==0.16.0
h2==4.2.0
hexbytes==1.3.1
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
inflection==0.5.1
iniconfig==2.1.0
installer==0.7.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.4
jsonpickle==4.0.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
keyring==25.6.0
kombu==5.4.2
lru-dict==1.3.0
Mako==1.3.5
MarkupSafe==2.1.5
more-itertools==10.7.0
msgpack==1.1.0
multidict==6.4.4
packaging==25.0
parsimonious==0.10.0
paystackapi==2.1.3
pbs-installer==2025.6.12
pilkit==3.0
pillow==11.2.1
pipdeptree==2.26.1
pkginfo==1.12.1.2
platformdirs==4.5.0
pluggy==1.6.0
poetry==2.1.3
poetry-core==2.1.3
postgrest==1.0.2
privy==6.0.0
privy-client==0.4.0
prompt_toolkit==3.0.48
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pyhpke==0.6.2
PyJWT==2.10.1
pymongo==4.10.1
pyOpenSSL==25.1.0
pyparsing==3.2.3
pypaystack2==2.0.3
pyproject-api==1.10.0
pyproject_hooks==1.2.0
pytest==8.4.0
pytest-mock==3.14.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.0
python-telegram-bot==21.6
python_paystack==1.2.0
pytz==2025.2
pyunormalize==16.0.0
PyYAML==6.0.2
qrcode==8.2
RapidFuzz==3.13.0
realtime==2.4.3
redis==5.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
resend>=2.0.0
rlp==4.1.0
rpds-py==0.24.0
rsa==4.9.1
sh==1.14.3
shellingham==1.5.4
simplejson==3.20.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlparse==0.5.3
storage3==0.11.3
StrEnum==0.4.15
supabase==2.15.3
supafunc==0.9.4
tenacity==9.1.2
tomli==2.3.0
tomlkit==0.13.3
toolz==1.0.0
tornado==6.4.1
tqdm==4.67.1
trove-classifiers==2025.5.9.12
types-requests==2.32.0.20250602
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.31.1
validators==0.34.0
vine==5.1.0
virtualenv==20.35.3
wcwidth==0.2.13
web3==7.12.0
websocket-client==1.8.0
websockets==14.0
Werkzeug==3.0.4
whitenoise==6.11.0
xattr==1.1.4
yarl==1.20.0
zipp==3.23.0
zstandard==0.23.0
